<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spor Kulübü Admin</title>

    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>

<body>
    <div class="container-scroller d-flex">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <a class="navbar-brand brand-logo" href="@Url.Action("Index", "Admin")">
                    <img src="~/images/logo.svg" alt="logo" />
                </a>
                <li class="nav-item sidebar-category">
                    <p>Admin İşlemleri</p>
                    <span></span>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">
                        <i class="mdi mdi-view-dashboard menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Member")">
                        <i class="mdi mdi-account-group menu-icon"></i>
                        <span class="menu-title">Üye Listesi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Coach")">
                        <i class="mdi mdi-whistle menu-icon"></i>
                        <span class="menu-title">Koç Listesi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Sport")">
                        <i class="mdi mdi-basketball menu-icon"></i>
                        <span class="menu-title">Spor Listesi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Payment")">
                        <i class="mdi mdi-cash-multiple menu-icon"></i>
                        <span class="menu-title">Ödeme Listesi</span>
                    </a>
                </li>

            </ul>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">


                    <div class="navbar-brand-wrapper">
                      

                        <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index", "Admin")">
                            <img src="~/images/logo-mini.svg" alt="logo" />
                        </a>
                    </div>

                    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">
                        Spor Kulübü Yönetim Paneli
                    </h4>

                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>

                </div>
            </nav>

            @RenderBody()

        </div>
    </div>

    <script src="~/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/vendors/chart.js/Chart.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>